

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}


.header__logo-img {
  background: transparent url('/img/2.jpg') no-repeat center 38%;
}

.skilimg1 {
  object-fit: cover;
  width: 352px;
  height: 200px;
  border-radius: 5px;
}
.comment-wrapper {
  justify-content: space-between;
}